@import controllers.MolVecApp
@(app: MolVecApp, id: String = null)

@main("MOLVEC Demonstration"){
  <meta property="og:url" content="@app.api"/>
  <meta property="og:title" content="MOLVEC Demonstration"/>
  <meta property="og:description" content="MOLVEC: A portable open source structure image recognition engine."/>
  <meta property="og:site_name" content="MOLVEC"/>
  @if(id != null){
    <meta property="og:image" content='@controllers.routes.MolVecApp.data(id,"image")'/>
    }else{
    <meta property="og:image" content='@routes.Assets.versioned("images/jm-2010-01177s_0016.gif")'/>    
    }
  }{
  <div class="row">
    <div class="col-md-6">
      @form(app.api)
    </div>
    <div class="col-md-6">
      @results()
    </div>
  </div>
}

  <script>
  const form = new FormData ();

  $(document).ready(function(){
    $('#submit-btn').on('click', function() {
      submit();
    });

    @if(id != null){
      const url = '@controllers.routes.MolVecApp.data(id,"image")';
      $('#preview').attr('src', url);
      form.delete('image-src');
      form.delete('image-data');
      submit();
    }
  });

  function submit () {
    showloader();
    if (!form.has('image-data') && !form.has('image-src')) {
      const src = $('#preview').attr('src');
      const url = new URL (window.location.origin+src);
      form.set('image-src', url.href);
    }
    $("[id^=result-]").each(function () {
      $(this).html('');
    });
    
    console.log('submit form: image-src='+form.get('image-src')
               +' image-data='+form.get('image-data'));
    $.ajax({
      url: '@controllers.routes.MolVecApp.submit("all")',
      type: 'POST',
      data: form,
      processData: false,
      contentType: false,
      success: function(data) {
        console.log('SERVER>> '+JSON.stringify(data));
        var route = jsRoutes.controllers.MolVecApp.results(data.image);
        $('#submission-status')
          .addClass('alert alert-success')
          .html('<b>Successfully processed image <a href="'
               +route.url+'">'+data.image+'</a></b>');
        for(var k in data) {
          if (k != 'image') {
            var result = data[k];
            if (result.status != 'SUCCESS' && result.status != 'CACHED') {
              $('#result-footer-'+k)
                .removeClass().addClass('alert alert-warning')
                .html('<em>'+result.status+'</em>');
            }
            else {
              $('#result-footer-'+k)
                .removeClass().addClass('alert alert-success')
                .html('<em>result generated in '+data[k].elapsed+'s</em>');
            }
            var molfile = result.molfile;
            if (molfile != null && molfile != '') {
              var id = 'result-body-'+k;
              console.log('updating element '+id);
              var viewer = new Kekule.ChemWidget.Viewer
              (document.getElementById(id));
              viewer.setEnableToolbar(true)
                    .setEnableDirectInteraction(true)
                    .setEnableEdit(true)
                    .setDimension('500px','300px');
              var mol = Kekule.IO.loadFormatData(data[k].molfile, 'mol');
              viewer.setChemObj(mol);
            }
          }
        }
      },
      error: function (jqXHR, textStatus, errorMessage) {
        console.log("***** can't submit form: "+errorMessage);
        $('#submission-status').addClass('alert alert-warning')
                               .html('<b>'+errorMessage+'</b>');    
      }
    }).always(function () {
      hideloader();
    });
  }
  
  function previewImage () {
    var preview = $('#preview'); //selects the query named img
    var file = $('input[type=file]')[0].files[0]; //sames as here
    var reader  = new FileReader();
    
    reader.onloadend = function () {
      preview.attr('src', reader.result);
      form.set('image-data', reader.result);
    }
    
    if (file) {
      reader.readAsDataURL(file); //reads the data as a URL
    }
    else {
      var src = '@routes.Assets.versioned("images/jm-2010-01177s_0016.gif")';
      preview.attr('src', src);
      form.set('image-src', src);
    }
    $('#submission-status').removeClass().html('');
  }
  
  document.onpaste = function (event) {
    // use event.originalEvent.clipboard for newer chrome versions
    var items = (event.clipboardData
              || event.originalEvent.clipboardData).items;
    console.log(JSON.stringify(items)); // will give you the mime types
    // find pasted image among pasted items
    var blob = null;
    for (var i = 0; i < items.length; i++) {
      if (items[i].type.indexOf("image") === 0) {
        blob = items[i].getAsFile();
      }
    }
    
    // load image if there is a pasted image
    if (blob !== null) {
      $('#submission-status').removeClass().html('');
      var reader = new FileReader();
      reader.onload = function(event) {
        //console.log(event.target.result); // data url!
        $('#preview').attr('src', reader.result);
        form.set('image-data', reader.result);
      };
      console.log('image: '+blob);
      reader.readAsDataURL(blob);
    }
  }
  
  function showloader () {
    $('#content-panel').each(function (index) {
      $(this).addClass('is-active');
    });
  }
  
  function hideloader () {
    $('#content-panel').removeClass('is-active');
  }
    
  //previewImage();  //calls the function named previewFile()
  </script>
    
